<!DOCTYPE html>
<title>Upload File</title>
<h1>图片上传</h1>
<form method=post enctype=multipart/form-data>
     <input type=file name=file>
     <input type=submit value=上传>
</form>


<!-- <!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>Flask upload with Dropzone example</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dropzone.css') }}">
</head>

<body>
    //Change action value to your upload address
    <form action="{{ url_for('upload_file') }}" class="dropzone" method="POST" enctype="multipart/form-data">
    </form>
    <script src="{{ url_for('static', filename='js/dropzone.js') }}"></script>
</body> -->